form > div {
  display: inline-block;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

form > input,
form > textarea {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  line-height: 28px;
  font-size: 20px;
  color: var(--color-dark);
  padding: 6px 0;
  border: none;
  border-bottom: 2px solid #ccc;
}

form > textarea {
  resize: vertical;
  min-height: 96px;
  max-height: 292px;
}

form ::placeholder {
  color: var(--color-grey);
  font-style: italic;
}

@media (min-width: 1100px) {
  form > input {
    width: 45%;
  }
  form > input:nth-of-type(2) {
    float: right;
  }
}

form > button {
}
